/* CSS untuk judul */
.title {
  text-align: center; /* Membuat teks berada di tengah */
  font-size: 24px; /* Ukuran teks */
  font-weight: bold; /* Ketebalan teks */
  color: #fff; /* Warna teks */
}

/* CSS untuk latar belakang oval */
.oval-background {
  width: 300px; /* Lebar latar belakang oval */
  height: 150px; /* Tinggi latar belakang oval */
  background-color: #3498db; /* Warna latar belakang */
  border-radius: 50%; /* Membuat bentuk oval dengan border-radius */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Untuk mengatur latar belakang oval ke tengah */
}

/* CSS untuk container */
.container {
  text-align: center;
  margin-top: 50px; /* Margin atas untuk memberikan jarak dari atas */
}

