/* CSS untuk judul */
.title {
  text-align: center; /* Membuat teks berada di tengah */
  font-size: 24px; /* Ukuran teks */
  font-weight: bold; /* Ketebalan teks */
  color: black; /* Warna teks */
}

/* CSS untuk latar belakang kotak dengan lengkungan di samping */
.rounded-background {
  width: 300px; /* Lebar latar belakang */
  height: 150px; /* Tinggi latar belakang */
  background-color: white; /* Warna latar belakang */
  border-radius: 25px; /* Membuat lengkungan di samping */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Untuk mengatur latar belakang ke tengah */
  position: relative;
}

/* CSS untuk container */
.container {
  text-align: center;
  margin-top: 50px; /* Margin atas untuk memberikan jarak dari atas */
}
